{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!-- Links -->

    <link rel="stylesheet" href="{% static 'css/home.css' %}" />

</head>

<body>
    <header>
        <nav>
            <a class="logo">Meu Site</a>
            <div class="mobile-menu"> 
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="https://github.com/Bielzz-JS">Github</a></li>
                <li><a href="https://www.instagram.com/biel_cf1/">Instagram</a></li>
                <li><a href="https://www.linkedin.com/in/gabriel-carvalho-fernandes00/">Linkedin</a></li>
                <li><a id="id_discord">Discord</a></li>
            </ul>
        </nav>
    </header>
    <main>

    </main>

    <!-- Scripts -->

    <script src="{% static 'js/home.js' %}"></script>
</body>
</html>