{% extends 'base.html' %}
{% load static %}
{% block content %}
<script>
    window.feriados = {{feriados|safe}}
</script>
<div class="main-box-card">
    <div class="main-card">
        <div class="header-main-card">
            <span>
                Próximos Feriados
            </span>
        </div>
        <div class="body-main-card">
            <div class="main-holiday">
                <span>
                    {{proximo_feriado.name}} : {{proximo_feriado.date}}
                </span>
            </div>
            <span>
                {% for holiday in feriados %}
                {% if forloop.first %}
                {% else %}
                {{holiday.name}} : {{holiday.date}} <br>
                {% endif %}
                {% endfor %}
            </span>
        </div>
    </div>
</div>
{% endblock content %}